.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  height: 55px;
 justify-content: space-between;
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(228, 228, 228);
}
.left-section {
  display: flex;
  align-items: center;
 
}
.hamburger {
  height: 24px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}
.logo {
  height: 20px;
  cursor: pointer;
}
.middle-section {
  max-width: 600px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
}
.searchbar {
  width: 0;
  flex: 1;
  height: 36px;
  font-size: 16px;
  font-family: Arial;
  padding-left: 10px;
  border-radius:2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(192,192,192);
  box-shadow: inset 1px 3px 5px rgb(0,0,0,0.05);
}
.searchbar::placeholder {
  font-size:16px;
  font-family: Arial;
}
.search-button {
  background-color: rgb(240,240,240);
  height: 39px;
  width: 66px;
  margin-left: -1px;
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(192,192,192);
  cursor: pointer;
}
.search {
  height: 25px;

}
.youtube-tooltip,
.upload-tooltip,
.voice-button,
.search-button {
  position: relative;
  display: flex;
  align-items:center;
  justify-content:center;
}
.notification-count-tooltip .tooltip,
.youtube-tooltip .tooltip,
.upload-tooltip .tooltip,
.voice-button .tooltip,
.search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  font-family: Arial;
  font-size:12px;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-right: 8px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  transition-timing-function: 0.15s;
  white-space: nowrap;
  pointer-events: none;
}
.notification-count-tooltip:hover .tooltip,
.youtube-tooltip:hover .tooltip,
.upload-tooltip:hover .tooltip,
.voice-button:hover .tooltip,
.search-button:hover .tooltip {
  opacity: 1;
}

.voice-button {
  background-color: rgb(245, 245, 245);
  height: 39px;
  width: 40px;
  border-radius: 24px;
  border-style: none;
  cursor: pointer;
}
.voice {
  height: 24px;
}
.right-section {
  width: 180px;
  flex-shrink: 0;
 margin-right: 24px;
 justify-content: space-between;
 display: flex;
 align-items: center;
}
.youtube-apps,
.upload {
  height: 24px;
  cursor: pointer;
}
.notification {
  height: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-count {
  position: absolute;
  top: -1px;
  right: -2px;
  background-color:red;
  color: white;
  font-size:12px;
  font-weight: 500;
  font-family: Arial;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 0;
  border-radius: 10px;
}
.notification-count-tooltip {
  position: relative;
}
.my-profile-pic {
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
