.sidebar {
  position: fixed;
  background-color: white;
  
  top: 55px;
  bottom: 0;
  left:0;
  width: 80px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  height: 74px;
   display: flex;
  flex-direction: column;
  
  align-items: center;
   justify-content: center;
   cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(230, 230, 230);
}
.sidebar-link img {
  height: 25px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-size: 10px;
  font-family: Arial;
  font-weight: 500;
 
}


