.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 35px;
  column-gap: 16px;
}
@media (max-width:750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr ;
  }
}
@media (min-width:751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail {
position: relative;
 margin-bottom:8px ;
 cursor: pointer;
}
.thumbnail1 {
  width: 100%;
}
.video-time {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 5px;
  font-family:Arial;
  font-size: 12px;
  font-weight: 500;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  border-radius: 2px;
}
.video-channel-title {
display: grid;
grid-template-columns: 45px 1fr;
}

.channel-pic {
  border-radius: 50px;
 width: 36px;
}
.video-title {
margin-top: 0;
font-family: Arial;
font-weight:700;
font-size: 14px;
line-height: 20px;
cursor: pointer;
}
.video-views,
.video-author {
  font-family: Arial;
  font-size: 12px;
  color: rgb(96, 96, 96);
  cursor: pointer;
}
.video-author {
  margin-bottom: 4px;
}
.video-views {
  margin-top: 0;
}

